include nav
block content
html
	head
		title= title
	.container
		.jumbotron
			h1 Bienvenue sur mon site faite avec node js
			p Gestion de tache
			a.btn.btn-lg.btn-primary(href="#",role="button") Cliquer ici pour visiter >>