include nav

.container
	table#data_test.table.table-striped.table-bordered.table-hover
		thead
			tr
				th fred
				th fred
				th fred
				th fred
		tbody
			tr
				td dark
				td dark
				td dark
				td dark
			tr
				td drrr
				td drrr
				td drrr
				td drrr
