include nav
html
	head
		title navss
		link(rel='stylesheet', href='/css/main.css')
	body
		.container
			select(multiple)
				option rechercher moi
			input#val1(type="text",placeholder="rechercher moi")
			input#val1(type="text",placeholder="rechercher moi")
			input#val1(type="text",placeholder="rechercher moi")
			input#val1(type="text",placeholder="rechercher moi")
			input#val2(type="text",placeholder="rechercher moi")
			br
			input(type="button", value="Roll",class="btn btn-primary",id="fred")
			br
			div#results
			script(src='/script.js')